<li class="well">
  <div class="post-thumbnail" style="float: right; padding-right: 4px; padding-bottom: 4px;">
    <a class="post-link" href="{{ post.url | relative_url }}">
      <img data-src="{{ post.image }}" class="lazyload" />
    </a>
  </div>
  
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <span class="post-meta">
    {{ post.date | date: date_format }}&nbsp;
    
    {%- if post.author -%}
      • <a href="https://hive.blog/@{{ post.author }}">{{ post.author }}</a>
    {%- endif -%}
  </span>
  <h3>
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  {%- if post.description -%}
    {{ post.description }}
  {%- endif -%}
  
  <br clear="both" />
</li>
